<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tuacy.drawableresource">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ClipDrawable.ClipDrawableActivity"
            android:label="ClipDrawable" />

        <activity
            android:name=".ScaleDrawable.ScaleDrawableActivity"
            android:label="ScaleDrawable" />

        <activity
            android:name=".GradientDrawable.GradientDrawableActivity"
            android:label="GradientDrawable" />

        <activity
            android:name=".InsetDrawable.InsetDrawableActivity"
            android:label="InsetDrawable" />

        <activity
            android:name=".LevelListDrawable.LevelListDrawableActivity"
            android:label="LevelListDrawable" />

        <activity
            android:name=".LayerDrawable.LayerDrawableActivity"
            android:label="LayerDrawable" />

        <activity
            android:name=".TransitionDrawable.TransitionDrawableActivity"
            android:label="TransitionDrawable" />

    </application>

</manifest>